# Bluetooth fails to load due to https://crrev.com/c/3988227.
# Don't enable runtime PM for Mendocino XHCI (b/258709954).
SUBSYSTEM=="pci", DRIVER=="xhci_hcd", ATTR{power/control}="on"
