# Copyright 2023 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# M.2 modem card reset on net WWAN_RTS_L is connected to SPI1_IO_2
# and is at offset 117.
 ACTION=="add", DEVPATH=="*/INT34BB:00/gpiochip*/gpio/*", \
   RUN+="/lib/udev/chown-usb-modem-gpio.sh \"$sys/$devpath\" \"INT34BB:00\" 117"
